* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: signika;
}

/* Variable colors for the styling on the page */

:root {
    --white: #ffffff;
    --orange: #FFA500;
    --navy: rgb(26, 39, 45);
}

/* html and body styling with the top background of the beach and pier */

body,
html {
    height: 100%;
    background-image: url(images/Oceanside-pier\ 2.jpeg);
    background-color: var(--navy);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header styling */

.header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 48px;
    color: var(--white)
}

.header h1 .lio {
    color: var(--orange);
}

/* Navigation bar styling and hover effect */

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    font-size: 25px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--white);
}

/* Navigation hover effecrs */

.nav-item:hover {
    background-color: var(--white);
}

.nav-item:hover a {
    color: #000814;
}

/* Biography paragraph at the top of the page */

.description {
    text-align: center;
    font-size: 1.5em;
    padding: 2em;
    letter-spacing: 1px;
}

.description h2 {
    font-size: 40px;
    color: var(--white);
    text-decoration: underline orange;
    text-underline-position: under;
    padding: 0.3em;
}

.description p {
    padding: 0.3em;
    color: var(--navy);
}

/* Large interactive image of myself, and the paragrph to the right of it */

.hero {
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 18em;
}

/* Side paragraph next to the hero image of myself */

.hero p {
    color: var(--white);
}

/* Styling for the personal image of myself with hover effects */

.hero img {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.hero img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.hero img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

/* The paragraph in between the hero image and surfboard/torch images */

.side p {
    margin: 3rem;
    text-align: center;
    padding-top: 100px;
    font-size: 1.5em;
    color: var(--white);
}

/* Tooltip box showing the effect of hovering over things on the page */

span[data-descr] {
    position: relative;
    color: var(--orange);
    cursor: help;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 2.5em;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: gray;
    padding: 12px;
    color: var(--white);
    font-size: 14px;
    z-index: 1;
}

/* Three surfboard section, evenly set to the middle of the page */

.surfboards {
    display: flex;
    justify-content: center;
    padding-top: 7em;
}

/* Surfboard one on the far left */

.surfone {
    width: 90%;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surfone:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Surfboard two in the middle */

.surftwo {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surftwo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Surfboard three on the far right */

.surfthree {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surfthree:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Projects section, four boxes in Desktop View and 2x2 in mobile */

.projects {
    text-align: center;
    padding-top: 15em;
    padding-bottom: 20em;
}

.projects h3 {
    color: var(--white);
    padding-bottom: 3em;
    font-size: 40px;
    text-align: center;
    text-decoration: underline var(--orange);
    text-underline-position: under;
}

.projectone,
.projecttwo,
.projectthree,
.projectfour {
    border: 7px solid var(--orange);
    height: 22em;
    padding: 1.7em;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

/* Project Five on top of the four projects */

.projectfive {
    border: 7px solid var(--orange);
    height: 30em;
    width: 76.6%;
    padding: 1.7em;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

/* Hover effects for the projects */

.projectone:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projecttwo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projectthree:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projectfour:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projectfive:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Contact section */


.contactinfo h4 {
    color: var(--white);
    padding-bottom: 1.5em;
    font-size: 40px;
    text-align: center;
    text-decoration: underline var(--orange);
    text-underline-position: under;
}

.contactinfo p {
    color: var(--white);
    font-size: 24px;
    margin: 3rem;
    text-align: center;
    color: var(--white);
}

/* Social Media links at the bottom of the page */

.contact {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.contact ul a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    margin: 5px;
}

/* Social Media Icon Styling */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: var(--white);
}

.fa-linkedin {
    background: #007bb5;
    color: var(--white);
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: var(--white);
}

.fa-github {
    color: white;
    background: #333333;
}

/* Footer styling */

.footer {
    background-image: url(images/surfboard.png);
    height: 100%;
    background-color: var(--navy);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer p {
    display: flex;
    justify-content: center;
    padding-top: 27em;
    padding-left: 40px;
    font-size: 1.3em;
    color: var(--white);
}