* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    background-image: url(/assets/images/Oceanside-pier\ 2.jpeg);
    height: 100%;
    background-color: rgb(26, 39, 45);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: tahoma;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1:after {
    content: '';
    background-color: orange;
    height: 2px;
    display: block;
    position: absolute;
    top: 32px;
    left: 5.7em;
    width: 62%;
}


.header h1 {
    font-size: 48px;
    color: white;
}

.header h1 .lio {
    color: orange;
}

.navbar h1 {
    font-family: tahoma;
    color: white;
    text-align: left;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    font-size: 25px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: #000814;
}

.description {
    text-align: center;
    font-size: 1.5em;
    padding: 2em;
    letter-spacing: 1px;
}

.description h1 {
    font-family: tahoma;
    color: white;
    text-decoration: underline orange;
    text-underline-position: under;
    padding: 0.3em;
}

.description p {
    font-family: tahoma;
    padding: 0.3em;
    color: rgb(26, 39, 45);
}

span[data-descr] {
    position: relative;
    color: orange;
    cursor: help;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 2.5em;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: gray;
    padding: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}

/* Large interactive image of myself, and the paragrph to the right of it */

.flex-one {
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 18em;
}

.flex-one p {
    color: white;
    padding-right: 10em;
}

.flex-one img {
    padding-left: 4em;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.flex-one img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.flex-one img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.side p {
    font-family: tahoma;
    margin: 3rem;
    text-align: center;
    padding-top: 100px;
    font-size: 1.5em;
    color: white;
}

/* Three surfboard section, evenly set to the middle of the page */

.surfboards {
    display: flex;
    justify-content: center;
    padding-top: 7em;
}

/* Surfboard one on the far left */

.surfone {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surfone:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Surfboard two in the middle */

.surftwo {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surftwo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Surfboard three on the far right */

.surfthree {
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.surfthree:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Projects section */

.projects {
    text-align: center;
    padding-top: 15em;
    padding-bottom: 20em;
}

.projects h1 {
    color: white;
    padding-bottom: 3em;
    font-size: 60px;
    text-align: center;
    text-decoration: underline orange;
    text-underline-position: under;
}

.projectone,
.projecttwo,
.projectthree,
.projectfour {
    border: 7px solid orange;
    height: 26em;
    padding: 1.7em;
    transition: all 0.1s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}


.projectone:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projecttwo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projectthree:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

.projectfour:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

/* Footer styling */

.footer {
    background-image: url(/assets/images/surfboard.png);
    height: 100%;
    background-color: rgb(26, 39, 45);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 10px;
}

.footer h2 {
    padding-top: 25em;
    font-size: 20px;
    color: white;
    clear: both;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header h1 {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
    }
}