/* Media Query for the top orange line in between the header and nav bar */

@media screen and (max-width: 1920px) {
    .header h1::after {
        display: none;
    }
}

@media screen and (max-width: 1440px) {

    .description h2 {
        font-size: 25px;
        color: var(--white);
        text-decoration: underline var(--orange);
        text-underline-position: under;
    }

    .torchone {
        display: none;
    }

    .surfone,
    .surftwo,
    .surfthree {
        width: 40%;
    }

    .projectfive {
        width: 89.4%;
    }

}

/* Media Query for Laptops */

@media screen and (max-width: 1024px) {

    .description h2 {
        font-size: 25px;
        color: var(--white);
        text-decoration: underline var(--orange);
        text-underline-position: under;
    }


    .hero img {
        max-width: 30%;
        padding-left: 50px;
    }

    .hero p {
        padding: 50px;
    }
    

    .surfone {
        width: 30%;
    }

    .surftwo,
    .surfthree,
    .torchone {
        display: none;
    }

    .projectfive {
        width: 90.5%;
    }

    .projectone,
    .projecttwo,
    .projectthree,
    .projectfour {
        width: 45%;
        height: 45%;
    }

    .contact {
        padding-bottom: 100px;
    }

    .footer p {
        padding: 1px;
    }

}

/* Media Query for 768px tablet/mobile devices */

@media screen and (max-width: 768px) {

       .header h1::after {
        display: none;
    }
}

    .header h1 {
        font-size: 35px;
    }

    .nav-links {
        min-width: 100%;
        max-width: 100%;
        min-width: 20vh;
    }

    .nav-links li a {
        font-size: 20px;
    }

    .description h2 {
        font-size: 30px;
    }

    .description p {
        font-size: 15px;
    }

    .hero {
        padding-top: 500px;
    }

    .hero img {
        max-width: 40%;
        padding: 20px;
    }

    .hero p {
        padding: 20px;
        font-size: 15px;
    }

    .side p {
        font-size: 15px;
    }

    .surftwo,
    .surfthree,
    .torchone {
        display: none;
    }

    .surfone {
        width: 30%;
    }

    .projects h3 {
        font-size: 30px;
    }

    .projectone,
    .projecttwo,
    .projectthree,
    .projectfour {
        width: 40%;
        height: 40%;
    }

    .projectfive {
        height: 100%;
        width: 80.6%;
    }

    .contactinfo h4 {
        font-size: 30px;
    }

    .contactinfo p {
        font-size: 15px;
    }

    footer {
        background-image: url(images/surfboard.png);
        max-height: 50%;
    }

    .footer p {
        font-size: 9px;
    }


/* Medias Query for mobile devices of 430px */

@media screen and (max-width: 430px) {

    .header h1 {
        font-size: 20px;
    }

    .nav-links li a {
        font-size: 13px;
        padding: 11px;
    }

    .description h2 {
        font-size: 25px;
        color: var(--white);
        text-decoration: underline var(--orange);
        text-underline-position: under;
    }

    .description p {
        font-size: 11px;
    }

    .hero p {
        font-size: 11px;
    }

    .side p,
    .contactinfo p {
        font-size: 11px;
    }

    .projects h3 {
        font-size: 25px;
    }

    .projectone,
    .projecttwo,
    .projectthree,
    .projectfour {
        width: 47%;
        height: 42%;
    }

    .projectfive {
        height: 100%;
        width: 95.1%;
    }

    .contactinfo h4 {
        font-size: 25px;
    }

    .contact {
        padding-bottom: 80px;
    }

    .footer p {
        padding: 1px;
    }

}

@media screen and (max-width: 390px) {

    .header h1 {
        font-size: 24px;
    }

    .nav-links li a {
        font-size: 14px;
        padding: 9px;
    }

    .description h2 {
        font-size: 24px;
        color: var(--white);
        text-decoration: underline var(--orange);
        text-underline-position: under;
    }

    .contact {
        padding-bottom: 100px;
    }

    .footer p {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .footer {
        height: 40%;
    }

}

@media screen and (max-width: 320px) {

    .hero {
        padding-top: 100px;
    }

}